# This is the network config written by 'ansible'
network:
  version: 2
  ethernets:
    {{ansible_default_ipv4.interface}}:
      dhcp4: false
      addresses:
        - {{ip_with_prefix}}
			gateway4: {{ansible_default_ipv4.gateway}}
			nameservers:
				addresses: [{{ansible_default_ipv4.gateway, 8.8.8.8, 1.1.1.1}}]
